:root {
    --menu-hover-bg: #232835;
    --menu-hover-color: #fff;
    --menu-active-bg: #2c3242;
    --menu-active-color: #359186;
    --bgcolor: #2c3242;
    --conbgcolor: #232835;
    --leftconbgcolor: #303749;
    --buttoncolor: #359186;
    --treeinputbgcolor: #ffffff;
    --labelcolor: #696B6F;
    --scrollbarbgcolor: #061d74;
    --scrollbarthumbbgcolor: #646563;
    --title-color: #359186;
    --text-color: #fff;
    --active-text-color: #359186;
    --op-title-color: #ffaf51;
}